mat-card {
    margin: auto;
}

mat-card-content { 
    text-align: center;
}

button {
    margin: 5px;

}

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    margin-left: 10px;
    background-color: #77ff00;
    color: #000000;
}


.example-card {
    margin-top: 20px;
    max-width: 500px;
    background: transparent;
    box-shadow: none;
    
}

.example-header-image {
    /* background-image: ""; */
    background-size: cover;
}

