@media screen and (max-width: 600px) {
    body {
      background-color: rgb(235, 235, 235);
    }
  }

  /* .mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    background-color: #77ff00;
} */



main {
    margin-top: 1rem;
}

mat-card {
    margin: auto;
}

mat-card-content { 
    text-align: center;
}

button {
    margin: 5px;
}

.example-card {
    max-width: 400px;
    background: transparent;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

