<!-- <mat-card class="example-card">
    <mat-card-title>Tanjiro lv-1</mat-card-title>
</mat-card> -->

<youtube-player videoId="-LL6NPUevGk" suggestedQuality="highres" [height]="600" [width]="1200" [startSeconds]="7" [endSeconds]="355"></youtube-player>

<!-- <mat-card class="example-card">
  <mat-card-title>Tanjiro lv-2</mat-card-title>
</mat-card> -->

<!-- <youtube-player 
  videoId="6zKJWR-V3GI" 
  suggestedQuality="highres" 
  [height]="600" 
  [width]="1200" 
  [startSeconds]="7"
  [endSeconds]="354">
</youtube-player> -->

<!-- <mat-card class="example-card">
  <mat-card-title>Tanjiro lv-3</mat-card-title>
</mat-card> -->

<!-- <youtube-player 
  videoId="S06oMxdt40A" 
  suggestedQuality="highres" 
  [height]="600" 
  [width]="1200" 
  [startSeconds]="7"
  [endSeconds]="354">
</youtube-player> -->

