mat-card {
    margin: auto;
}

mat-card-content { 
    text-align: center;
}

button {
    margin: 5px;

}

.example-card {
    max-width: 60%;
    margin-bottom: 10px;
    text-align: center;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}