<mat-card class="example-card">
    <mat-card-title>Nezuko lv-1</mat-card-title>
</mat-card>

<youtube-player 
  videoId="JdLCEwEFCMU" 
  suggestedQuality="highres" 
  [height]="600" 
  [width]="1200" 
  [startSeconds]="11"
  [endSeconds]="280">
</youtube-player>

<mat-card class="example-card">
  <mat-card-title>Nezuko lv-2</mat-card-title>
</mat-card>

<youtube-player 
videoId="vtg4o__aRMg" 
suggestedQuality="highres" 
[height]="600" 
[width]="1200" 
[startSeconds]="73"
[endSeconds]="467">
</youtube-player>

<mat-card class="example-card">
  <mat-card-title>Nezuko lv-3</mat-card-title>
</mat-card>

<youtube-player 
videoId="w-llZmPPNwU" 
suggestedQuality="highres" 
[height]="600" 
[width]="1200" 
[startSeconds]="11"
[endSeconds]="280">
</youtube-player>



<router-outlet></router-outlet>