<mat-card class="example-card">
    <mat-card-title>Kamado lv-1</mat-card-title>
</mat-card>

<youtube-player 
  videoId="zp6etcm_HX8" 
  suggestedQuality="highres" 
  [height]="600" 
  [width]="1200" 
  [startSeconds]="1"
  [endSeconds]="195">
</youtube-player>

<mat-card class="example-card">
  <mat-card-title>Kamado lv-2</mat-card-title>
</mat-card>

<youtube-player 
videoId="Y5x7feHPk1U" 
suggestedQuality="highres" 
[height]="600" 
[width]="1200" 
[startSeconds]="1"
[endSeconds]="195">
</youtube-player>

<mat-card class="example-card">
  <mat-card-title>Kamado lv-3</mat-card-title>
</mat-card>

<youtube-player 
videoId="iiiznDpoapQ" 
suggestedQuality="highres" 
[height]="600" 
[width]="1200" 
[startSeconds]="1"
[endSeconds]="195">
</youtube-player>


<router-outlet></router-outlet>